/*
 * $Id$
 *
 * This is the config.h template.
 */

#ifndef __CONFIG_H__
#define __CONFIG_H__

/* Your instance name. */
#define INSTANCE_NAME	"Unnamed"

/* Admin name/email. */
#define INSTANCE_ADMIN	"John Doe <john.doe@example.com>"

/* Instance Root. */
#define INSTANCE_ROOT	"/cgi-bin"

/* Instance Logo. */
#define INSTANCE_LOGO	"/logo.png"

/* Image to be put in the navbar, for the modern theme. 940x60 should be good. */
#define INSTANCE_NAVBAR	"/paper.png"

/* Navbar repeat, for the modern theme. */
#define INSTANCE_REPEAT	"resize-x"

/* Theme. */
#define USE_MODERN

/* Database type. */
#define USE_SQLITE
#undef USE_GDBM
#undef USE_NDBM

/* Authentication type. */
#define USE_COOKIE

/* PATH, uses PATH from environment automatically if not defined. */
#undef USE_PATH

/* SVN filesystem root. */
#define SVN_ROOT "/www/svn"

/* Database root. */
#define DB_ROOT "/www/db"

/* Apache htpasswd file. */
#define APACHE_PASSWD "/www/passwd"

/* Apache authz file. */
#define APACHE_AUTHZ "/www/authz"

#endif

/*
vim: syntax=c
*/
